@use "sass:map";

@function cursor($type) {
	$typeList: ( 
		default: "/windowyeong/images/cursor/cursor.svg",
		pointer: "/windowyeong/images/cursor/pointer.svg",
		);
	$cursorType: map.get($typeList, $type);
	@return url('#{$cursorType}'), auto;
}

@function grad($name){
	$list: (
		basicBlue: linear-gradient(180deg, #8DB8FF 0%, #005AF2 8.62%, #005AF2 61.01%, #00348C 129.81%),
	);
	$gradientName: map.get($list, $name);
	@return $gradientName;
}

@function file($type) {
	$list: (
		exe: "/windowyeong/images/icon/14.ico",
		folder: "/windowyeong/images/icon/19.ico",
		folioPop: "/windowyeong/images/icon/1484.ico",
	);
	$fileType: map.get($list, $type);
	@return url('#{$fileType}');
}