.wy__pop{

position: absolute;
width: 466px;
height: 172px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

border: 1px solid #00348C;
filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
border-radius: 6px 6px 0px 0px;

	&__head{
		display: flex;
		// justify-content: space-between;
		align-items: center;
		padding: 6px 10px;
		gap: 1vw;
		
		width: 100%;
		height: 32px;
		
		background: linear-gradient(180deg, #8DB8FF 0%, #005AF2 8.62%, #005AF2 61.01%, #00348C 129.81%);
		color: white;

		p{
			text-align: start;
			text-wrap: balance;
			word-break: keep-all;
		}
		
		ul{
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 4px;
			li{
				button{
					$gradient: linear-gradient(133.98deg, #DDEAFF -40.9%, #005AF2 57.87%, #00348C 110.68%);
					width: 20px;
					height: 20px;
					display: flex;
					align-items: center;
					justify-content: center;

					background: $gradient;
					box-shadow: inset -1px -1px 4px #00348C;

					background-repeat: no-repeat;
					background-position: center;
					border: 1px solid #FFFFFF;
					border-radius: 4px;
					font-size: 0;
					text-indent: -9999px;
					&.close{
						background: url('../images/popup/close.svg'), radial-gradient(85% 85% at 50% 15%, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(129.48deg, rgba(242, 173, 151, 0.841667) 2.26%, rgba(234, 124, 89, 0.926697) 21.12%, #E35123 39.99%);
						background-repeat: no-repeat;
						background-position: center;
						box-shadow: inset -1px -1px 4px #7D2D13;
					}
					&.maximize{
						background: url('../images/popup/maximize.svg'), $gradient;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.minimize{
						background: url('../images/popup/minimize.svg'), $gradient;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.restore{
						background: url('../images/popup/restore.svg'), $gradient;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}
		}
	}
	&__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		gap: 24px;
		background: #ECE9D8;
		border: 2px solid #005AF2;
		i{
			flex-shrink: 0;
			&.alert{
				display: block;
				background-image: url('../images/popup/alert.svg');
				width: 34px;
				height: 36px;
				background-position: center / contain;
				background-repeat: no-repeat;
			}
		}
	}
	&__content{
	display: flex;
	align-items: start;
	gap: 12px;
	}
	&__btn{
		display: flex;
		justify-content: center;
		gap: 12px;

		button{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 4px;

			width: 78px;
			height: 24px;

			background: #EEE7D9;
			border: 1px solid #243438;

			box-shadow: inset -3px -3px 2px rgba(0, 0, 0, 0.32);

			&:focus, &:focus-visible{
				border: 1px solid #243438;
				&::before{
					position: absolute;
					content: "";
					display: block;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 90%;
					height: 68%;
					border: 1px dashed #706D67;
				}
			}

		}
	}
}