/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/assets/scss/reset.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #202020;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/assets/scss/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("/windowyeong/images/cursor/cursor.svg"), auto;
}
:root * {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
  cursor: url("/windowyeong/images/cursor/pointer.svg"), auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: clamp(14px, 0.825rem, 2vw);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  cursor: url("/windowyeong/images/cursor/pointer.svg"), auto;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@font-face {
  font-family: "Freesentation";
  src: url("/windowyeong/fonts/Freesentation-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation";
  src: url("/windowyeong/fonts/Freesentation-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "DungGeunMo";
  src: url("/windowyeong/fonts/DungGeunMo.woff2") format("woff2");
}
body, code {
  font-family: "DungGeunMo", "Freesentation", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: max(min(0.5vw, 0.5em), 16px);
  letter-spacing: -0.5px;
  line-height: 20px;
}

.wy__cursor {
  width: 160px; /* 각 프레임 사이즈 */
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  background: url("/windowyeong/images/cursor/sprite.png") no-repeat;
  image-rendering: pixelated; /* 픽셀 아트일 때 */
  transform: translate(-50%, -50%);
  transition: top, left 0.2s;
}

.wy__bottom__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #8DB8FF 0%, #005AF2 8.62%, #005AF2 61.01%, #00348C 129.81%);
  border-radius: 8px;
}
.wy__bottom__nav i {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  flex: none;
  flex-grow: 0;
}
.wy__bottom__nav i[datatype=exe] {
  background-image: url("/windowyeong/images/icon/14.ico");
}
.wy__bottom__nav i[datatype=folder] {
  background-image: url("/windowyeong/images/icon/19.ico");
}
.wy__bottom__nav i[datatype=folioPop] {
  background-image: url("/windowyeong/images/icon/1484.ico");
}
.wy__bottom__nav[datatype=exe] i {
  background-image: url("/windowyeong/images/icon/14.ico");
}
.wy__bottom__nav[datatype=folder] i {
  background-image: url("/windowyeong/images/icon/19.ico");
}
.wy__bottom__nav[datatype=folioPop] i {
  background-image: url("/windowyeong/images/icon/1484.ico");
}
.wy__bottom__nav__start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: 120px;
  height: 100%;
  background: linear-gradient(90.13deg, rgba(17, 119, 18, 0.36) -0.65%, rgba(34, 173, 51, 0.36) 5.45%, rgba(28, 194, 29, 0.36) 95.76%, rgba(17, 119, 18, 0.36) 101.04%), linear-gradient(360deg, #22AD33 0%, #127C1F 18%, #178B4D 81%, #1CC21D 99.99%, #117712 100%);
  color: white;
  border: 1px solid #117712;
  border-radius: 6px;
}
.wy__bottom__nav__icon {
  padding: 0 24px;
  flex: 1 1;
  display: flex;
  justify-content: start;
}
.wy__bottom__nav__time {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: 120px;
  height: 100%;
  background: linear-gradient(180deg, #5ACAFF 0%, #1599EC 8.62%, #0BAAF3 61.01%, #1E9CF1 129.81%);
  border: 1px solid #005AF2;
  border-radius: 6px;
}

.wy__desktop .wy__drag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  min-width: 56px;
  max-width: 75px;
  text-align: center;
}
.wy__desktop .wy__drag__img {
  width: 48px;
  height: 48px;
  background-size: cover;
  flex: none;
  flex-grow: 0;
}
.wy__desktop .wy__drag__name {
  width: 56px;
  max-width: 70px;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px #000000;
  flex: none;
  flex-grow: 0;
}
.wy__desktop .wy__drag[datatype=exe] i {
  background-image: url("/windowyeong/images/icon/14.ico");
}
.wy__desktop .wy__drag[datatype=folder] i {
  background-image: url("/windowyeong/images/icon/19.ico");
}
.wy__desktop .wy__drag[datatype=folioPop] i {
  background-image: url("/windowyeong/images/icon/1484.ico");
}
.wy__desktop .wy__drag.click {
  background-color: #a0c5e8;
  opacity: 0.8;
}

.wy__desktop {
  position: relative;
}

.wy__pop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid #00348c;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
  border-radius: 6px 6px 0px 0px;
}
.wy__pop__head {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 1vw;
  width: 100%;
  height: 32px;
  background: linear-gradient(180deg, #8db8ff 0%, #005af2 8.62%, #005af2 61.01%, #00348c 129.81%);
  color: white;
}
.wy__pop__head p {
  text-align: start;
  text-wrap: balance;
  word-break: keep-all;
}
.wy__pop__head ul {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
.wy__pop__head ul li button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(133.98deg, #ddeaff -40.9%, #005af2 57.87%, #00348c 110.68%);
  box-shadow: inset -1px -1px 4px #00348c;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 0;
  text-indent: -9999px;
}
.wy__pop__head ul li button.close {
  background: url("/windowyeong/images/popup/close.svg"), radial-gradient(85% 85% at 50% 15%, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(129.48deg, rgba(242, 173, 151, 0.841667) 2.26%, rgba(234, 124, 89, 0.926697) 21.12%, #e35123 39.99%);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset -1px -1px 4px #7d2d13;
}
.wy__pop__head ul li button.maximize {
  background: url("/windowyeong/images/popup/maximize.svg"), linear-gradient(133.98deg, #ddeaff -40.9%, #005af2 57.87%, #00348c 110.68%);
  background-repeat: no-repeat;
  background-position: center;
}
.wy__pop__head ul li button.minimize {
  background: url("/windowyeong/images/popup/minimize.svg"), linear-gradient(133.98deg, #ddeaff -40.9%, #005af2 57.87%, #00348c 110.68%);
  background-repeat: no-repeat;
  background-position: center;
}
.wy__pop__head ul li button.restore {
  background: url("/windowyeong/images/popup/restore.svg"), linear-gradient(133.98deg, #ddeaff -40.9%, #005af2 57.87%, #00348c 110.68%);
  background-repeat: no-repeat;
  background-position: center;
}
.wy__pop__container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 2px solid #005af2;
}
.wy__pop__content {
  height: 100%;
  display: flex;
  align-items: start;
  gap: 12px;
}
.wy__pop__btn {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.wy__pop__btn button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 78px;
  height: 24px;
  background: #eee7d9;
  border: 1px solid #243438;
  box-shadow: inset -3px -3px 2px rgba(0, 0, 0, 0.32);
}
.wy__pop__btn button:focus, .wy__pop__btn button:focus-visible {
  border: 1px solid #243438;
}
.wy__pop__btn button:focus::before, .wy__pop__btn button:focus-visible::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 68%;
  border: 1px dashed #706d67;
}

.wy__pop__alert {
  position: absolute;
  width: min(466px, 70vw);
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #00348c;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
  border-radius: 6px 6px 0px 0px;
}
.wy__pop__alert__container {
  height: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 24px;
  background: #ece9d8;
  border: 2px solid #005af2;
}
.wy__pop__alert__container i {
  flex-shrink: 0;
}
.wy__pop__alert__container i.alert {
  display: block;
  background-image: url("/windowyeong/images/popup/alert.svg");
  width: 34px;
  height: 36px;
  background-position: center/contain;
  background-repeat: no-repeat;
}
.wy__pop__alert__content {
  display: flex;
  align-items: start;
  gap: 12px;
}

.wy__introduce {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  text-wrap: balance;
  word-break: break-all;
}
.wy__introduce__inner {
  width: clamp(14em, 10vw, 20vw);
  background-color: #ECE9D8;
  border: 1px solid #000;
  padding: 4px;
}
.wy__introduce button {
  position: absolute;
  top: 0;
  right: 4px;
  width: max(26px, 2vw);
  height: max(26px, 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 0;
  text-indent: -9999px;
}
.wy__introduce button::after {
  display: flex;
  content: "x";
  font-size: max(26px, 2vw);
  text-indent: 0;
}
.wy__introduce button.active {
  position: relative;
  inset: 0;
  width: min(50px, 8vw);
  height: min(50px, 8vw);
  background-color: #ECE9D8;
  border: 1px solid #000;
}
.wy__introduce button.active::after {
  font-size: min(50px, 8vw);
  content: "?";
}

.wy__land {
  height: 100dvh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-sizing: border-box;
  background: url("/windowyeong/images/landing/noise3.png"), linear-gradient(180deg, #111111 76.9%, #2C4579 125.79%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
@media screen and (max-width: 600px) {
  .wy__land__logo img {
    width: 80%;
    margin: auto;
  }
}
.wy__land__progress {
  margin-top: min(166px, 10vh);
  width: 200px;
  height: 36px;
  border: 1px solid #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("/windowyeong/images/landing/landing_progress.svg");
  background-repeat: no-repeat;
  background-position-y: 6px;
  animation: runProgress 3s linear infinite;
}
@keyframes runProgress {
  0% {
    background-position-x: -100%;
  }
  100% {
    background-position-x: 130%;
  }
}

.wy__wallpaper {
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 40px;
  background: url("/windowyeong/images/noise.png"), url("/windowyeong/images/land.jpg");
  background-size: cover;
}
