.wy__wallpaper{
	height: 100dvh;
	display: grid;
	grid-template-rows: 1fr 40px;
	background: url("../images/noise.png"), url("../images/land.jpg");
	background-size: cover;
	cursor: cursor(pointer);
}