@use "../variables/funcs";

.wy__wallpaper{
	height: 100dvh;
	display: grid;
	grid-template-rows: 1fr 40px;
	background: url("/windowyeong/images/noise.png"), url("/windowyeong/images/land.jpg");
	background-size: cover;

}